<link rel="canonical" href="{{ pkg.homepage + page.url }}">
<meta property="og:url" content="{{ pkg.homepage + page.url }}">
<meta name="description" content="{{ content.description }}">
<meta property="og:description" content="{{ content.description }}">
<meta property="og:site_name" content="{{ pkg.name }}">
<meta property="og:type" content="article">
<meta name="author" content="{{ pkg.author }}">
<meta name="og:article:author" content="{{ pkg.author }}">
<meta property="og:title" content="{{ content.title }}">
<meta name="twitter:card" content="summary_large_image">
<meta property="og:image" content="{{ pkg.homepage + page.url + 'assets/img/asciidoc-og.png' }}">
<meta property="og:image:height" content="1250">
<meta property="og:image:width" content="2500">
