#editorPreview {
  /* colors */
  --color-white: #fff;
  --color-smoke-10: #fefefe;
  --color-smoke-30: #fafafa;
  --color-smoke-50: #f5f5f5;
  --color-smoke-70: #f0f0f0;
  --color-smoke-90: #e1e1e1;
  --color-gray-10: #c1c1c1;
  --color-gray-30: #8e8e8e;
  --color-gray-50: #808080;
  --color-gray-70: #5d5d5d;
  --color-jet-20: #4a4a4a;
  --color-jet-30: #424242;
  --color-jet-50: #333;
  --color-jet-70: #222;
  --color-jet-80: #191919;
  --color-black: #000;
  /* fonts */
  --rem-base: 17; /* used to compute rem value from desired pixel value (e.g., calc(18 / var(--rem-base) * 1rem) = 18px) */
  --body-font-size: 1.0625em; /* 17px */
  --body-line-height: 1.15;
  --body-font-color: var(--color-jet-70);
  --body-font-family: "Inter", blinkmacsystemfont, -apple-system, "Segoe UI", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  --body-font-weight-bold: 500;
  --monospace-font-family: "Source Code Pro", ui-monospace, sfmono-regular, menlo, monaco, consolas, liberation mono, courier new, monospace;
  --monospace-font-weight-bold: 500;
  /* base */
  --body-background: var(--color-white);
  --panel-background: var(--color-smoke-50);
  --panel-border-color: var(--color-smoke-90);
  /* admonitions */
  --caution-color: #a0439c;
  --caution-on-color: var(--color-white);
  --important-color: #d32f2f;
  --important-on-color: var(--color-white);
  --note-color: #217ee7;
  --note-on-color: var(--color-white);
  --tip-color: #41af46;
  --tip-on-color: var(--color-white);
  --warning-color: #e18114;
  --warning-on-color: var(--color-white);
  /* doc */
  --doc-font-color: var(--color-jet-50);
  --doc-font-size: inherit;
  --doc-line-height: 1.6;
  --doc-margin: 0 auto;
  --heading-font-color: var(--color-jet-80);
  --heading-font-weight: normal;
  --alt-heading-font-weight: var(--body-font-weight-bold);
  --section-divider-color: var(--panel-border-color);
  --link-font-color: #1565c0;
  --link-hover-font-color: #104d92;
  --link-unresolved-font-color: var(--important-color);
  --abstract-background: var(--color-smoke-70);
  --abstract-font-color: var(--color-jet-20);
  --abstract-border-color: var(--panel-border-color);
  --admonition-background: var(--panel-background);
  --admonition-label-font-weight: var(--body-font-weight-bold);
  --caption-font-color: var(--color-gray-70);
  --caption-font-weight: var(--body-font-weight-bold);
  --code-background: var(--panel-background);
  --code-font-color: var(--body-font-color);
  --example-background: var(--color-white);
  --example-border-color: var(--color-gray-70);
  --kbd-background: var(--panel-background);
  --kbd-border-color: var(--color-gray-10);
  --pre-background: var(--panel-background);
  --pre-border-color: var(--panel-border-color);
  --pre-annotation-font-color: var(--color-gray-50);
  --quote-background: var(--panel-background);
  --quote-border-color: var(--color-gray-70);
  --quote-font-color: var(--color-gray-70);
  --quote-attribution-font-color: var(--color-gray-30);
  --sidebar-background: var(--color-smoke-90);
  --table-border-color: var(--panel-border-color);
  --table-stripe-background: var(--panel-background);
  --table-footer-background: linear-gradient(to bottom, var(--color-smoke-70) 0%, var(--color-white) 100%);

  padding-top: 0.5rem;
}

#editorPreview > :first-child {
  margin-top: 0;
}

#editorPreview p {
  margin: 0;
  padding: 0;
}

#editorPreview a {
  color: var(--link-font-color);
}

#editorPreview a:hover {
  color: var(--link-hover-font-color);
}

#editorPreview a.bare {
  hyphens: none;
}

#editorPreview a.unresolved {
  color: var(--link-unresolved-font-color);
}

#editorPreview i.fa {
  hyphens: none;
  font-style: normal;
}

#editorPreview p code,
#editorPreview thead code,
#editorPreview .colist > table code {
  color: var(--code-font-color);
  background: var(--code-background);
  border-radius: 0.25em;
  font-size: 0.95em;
  padding: 0.125em 0.25em;
}

#editorPreview code,
#editorPreview pre {
  hyphens: none;
}

#editorPreview pre {
  font-size: calc(16 / var(--rem-base) * 1rem);
  line-height: 1.5;
  margin: 0;
}

#editorPreview blockquote {
  margin: 0;
}

#editorPreview .paragraph.lead > p {
  font-size: calc(18 / var(--rem-base) * 1rem);
}

#editorPreview .right {
  float: right;
}

#editorPreview .left {
  float: left;
}

#editorPreview .stretch {
  width: 100%;
}

#editorPreview .underline {
  text-decoration: underline;
}

#editorPreview .line-through {
  text-decoration: line-through;
}

#editorPreview .paragraph,
#editorPreview .dlist,
#editorPreview .hdlist,
#editorPreview .olist,
#editorPreview .ulist,
#editorPreview .exampleblock,
#editorPreview .imageblock,
#editorPreview .listingblock,
#editorPreview .literalblock,
#editorPreview .sidebarblock,
#editorPreview .verseblock,
#editorPreview .quoteblock,
#editorPreview .partintro,
#editorPreview details,
#editorPreview hr {
  margin: 1rem 0 0;
}

#editorPreview table {
  border-collapse: collapse;
  border-spacing: 0;
}

#editorPreview table.tableblock {
  font-size: calc(15 / var(--rem-base) * 1rem);
  margin: 1.5rem 0 0;
}

#editorPreview table.tableblock + * {
  margin-top: 1.5rem;
}

#editorPreview p.tableblock + p.tableblock {
  margin-top: 0.5rem;
}

#editorPreview td.tableblock > .content > :first-child {
  margin-top: 0;
}

#editorPreview table.tableblock th,
#editorPreview table.tableblock td {
  padding: 0.5rem;
}

#editorPreview table.tableblock,
#editorPreview table.tableblock > * > tr > * {
  border: 0 solid var(--table-border-color);
}

#editorPreview table.grid-all > * > tr > * {
  border-width: 1px;
}

#editorPreview table.grid-cols > * > tr > * {
  border-width: 0 1px;
}

#editorPreview table.grid-rows > * > tr > * {
  border-width: 1px 0;
}

#editorPreview table.grid-all > thead th,
#editorPreview table.grid-rows > thead th {
  border-bottom-width: 2.5px;
}

#editorPreview table.frame-all {
  border-width: 1px;
}

#editorPreview table.frame-ends {
  border-width: 1px 0;
}

#editorPreview table.frame-sides {
  border-width: 0 1px;
}

#editorPreview table.frame-none > colgroup + * > :first-child > *,
#editorPreview table.frame-sides > colgroup + * > :first-child > * {
  border-top-width: 0;
}

/* NOTE let the grid win in case of frame-none */
#editorPreview table.frame-sides > :last-child > :last-child > * {
  border-bottom-width: 0;
}

#editorPreview table.frame-none > * > tr > :first-child,
#editorPreview table.frame-ends > * > tr > :first-child {
  border-left-width: 0;
}

#editorPreview table.frame-none > * > tr > :last-child,
#editorPreview table.frame-ends > * > tr > :last-child {
  border-right-width: 0;
}

#editorPreview table.stripes-all > tbody > tr,
#editorPreview table.stripes-odd > tbody > tr:nth-of-type(odd),
#editorPreview table.stripes-even > tbody > tr:nth-of-type(even),
#editorPreview table.stripes-hover > tbody > tr:hover {
  background: var(--table-stripe-background);
}

#editorPreview table.tableblock > tfoot {
  background: var(--table-footer-background);
}

#editorPreview .halign-left {
  text-align: left;
}

#editorPreview .halign-right {
  text-align: right;
}

#editorPreview .halign-center {
  text-align: center;
}

#editorPreview .valign-top {
  vertical-align: top;
}

#editorPreview .valign-bottom {
  vertical-align: bottom;
}

#editorPreview .valign-middle {
  vertical-align: middle;
}

#editorPreview .admonitionblock {
  margin: 1.4rem 0 0;
}

#editorPreview .admonitionblock p,
#editorPreview .admonitionblock td.content {
  font-size: calc(16 / var(--rem-base) * 1rem);
}

#editorPreview .admonitionblock td.content > :not(.title):first-child,
#editorPreview .admonitionblock td.content > .title + * {
  margin-top: 0;
}

#editorPreview .admonitionblock pre {
  font-size: calc(15 / var(--rem-base) * 1rem);
}

#editorPreview .admonitionblock > table {
  table-layout: fixed;
  position: relative;
  width: 100%;
}

#editorPreview .admonitionblock td.content {
  padding: 1rem 1rem 0.75rem;
  background: var(--admonition-background);
  width: 100%;
  word-wrap: anywhere;
}

#editorPreview .admonitionblock .icon {
  position: absolute;
  top: 0;
  left: 0;
  font-size: calc(15 / var(--rem-base) * 1rem);
  padding: 0 0.5rem;
  height: 1.25rem;
  line-height: 1;
  font-weight: var(--admonition-label-font-weight);
  text-transform: uppercase;
  border-radius: 0.45rem;
  transform: translate(-0.5rem, -50%);
}

#editorPreview .admonitionblock.caution .icon {
  background-color: var(--caution-color);
  color: var(--caution-on-color);
}

#editorPreview .admonitionblock.important .icon {
  background-color: var(--important-color);
  color: var(--important-on-color);
}

#editorPreview .admonitionblock.note .icon {
  background-color: var(--note-color);
  color: var(--note-on-color);
}

#editorPreview .admonitionblock.tip .icon {
  background-color: var(--tip-color);
  color: var(--tip-on-color);
}

#editorPreview .admonitionblock.warning .icon {
  background-color: var(--warning-color);
  color: var(--warning-on-color);
}

#editorPreview .admonitionblock .icon i {
  display: inline-flex;
  align-items: center;
  height: 100%;
}

#editorPreview .admonitionblock .icon i::after {
  content: attr(title);
}

#editorPreview .imageblock {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#editorPreview .imageblock img,
#editorPreview .imageblock object,
#editorPreview .imageblock svg,
#editorPreview .image > img,
#editorPreview .image > object,
#editorPreview .image > svg {
  display: inline-block;
  height: auto;
  max-width: 100%;
  vertical-align: middle;
}

#editorPreview .image:not(.left):not(.right) > img {
  margin-top: -0.2em;
}

#preamble .abstract blockquote {
  background: var(--abstract-background);
  border-left: 5px solid var(--abstract-border-color);
  color: var(--abstract-font-color);
  font-size: calc(16 / var(--rem-base) * 1rem);
  padding: 0.75em 1em;
}

#editorPreview .quoteblock,
#editorPreview .verseblock {
  background: var(--quote-background);
  border-left: 5px solid var(--quote-border-color);
  color: var(--quote-font-color);
}

#editorPreview .quoteblock {
  padding: 0.25rem 2rem 1.25rem;
}

#editorPreview .quoteblock .attribution {
  color: var(--quote-attribution-font-color);
  font-size: calc(15 / var(--rem-base) * 1rem);
  margin-top: 0.75rem;
}

#editorPreview .quoteblock blockquote {
  margin-top: 1rem;
}

#editorPreview .quoteblock .paragraph {
  font-style: italic;
}

#editorPreview .quoteblock cite {
  padding-left: 1em;
}

#editorPreview .verseblock {
  font-size: 1.15em;
  padding: 1rem 2rem;
}

#editorPreview .verseblock pre {
  font-family: inherit;
  font-size: inherit;
}

#editorPreview ol,
#editorPreview ul {
  margin: 0;
  padding: 0 0 0 2rem;
}

#editorPreview ul.checklist,
#editorPreview ul.none,
#editorPreview ol.none,
#editorPreview ul.no-bullet,
#editorPreview ol.unnumbered,
#editorPreview ul.unstyled,
#editorPreview ol.unstyled {
  list-style-type: none;
}

#editorPreview ul.no-bullet,
#editorPreview ol.unnumbered {
  padding-left: 1.25rem;
}

#editorPreview ul.unstyled,
#editorPreview ol.unstyled {
  padding-left: 0;
}

#editorPreview ul.circle {
  list-style-type: square;
}

#editorPreview ul.disc {
  list-style-type: square;
}

#editorPreview ul.square {
  list-style-type: square;
}

#editorPreview ol.arabic {
  list-style-type: decimal;
}

#editorPreview ol.decimal {
  list-style-type: decimal-leading-zero;
}

#editorPreview ol.loweralpha {
  list-style-type: lower-alpha;
}

#editorPreview ol.upperalpha {
  list-style-type: upper-alpha;
}

#editorPreview ol.lowerroman {
  list-style-type: lower-roman;
}

#editorPreview ol.upperroman {
  list-style-type: upper-roman;
}

#editorPreview ol.lowergreek {
  list-style-type: lower-greek;
}

#editorPreview ul.checklist {
  padding-left: 0.5rem;
}

#editorPreview ul.checklist p > i.fa-check-square-o:first-child,
#editorPreview ul.checklist p > i.fa-square-o:first-child {
  display: inline-flex;
  justify-content: center;
  width: 1.25rem;
}

#editorPreview ul.checklist i.fa-check-square-o::before {
  content: "\2713";
}

#editorPreview ul.checklist i.fa-square-o::before {
  content: "\274f";
}

#editorPreview .dlist .dlist,
#editorPreview .dlist .olist,
#editorPreview .dlist .ulist,
#editorPreview .olist .dlist,
#editorPreview .olist .olist,
#editorPreview .olist .ulist,
#editorPreview .ulist .dlist,
#editorPreview .ulist .olist,
#editorPreview .ulist .ulist {
  margin-top: 0.5rem;
}

#editorPreview .olist li + li,
#editorPreview .ulist li + li {
  margin-top: 0.5rem;
}

#editorPreview .ulist .listingblock,
#editorPreview .olist .listingblock,
#editorPreview .admonitionblock .listingblock {
  padding: 0;
}

#editorPreview .admonitionblock .title,
#editorPreview .exampleblock .title,
#editorPreview .imageblock .title,
#editorPreview .literalblock .title,
#editorPreview .listingblock .title,
#editorPreview .openblock .title,
#editorPreview .tableblock caption {
  color: var(--caption-font-color);
  font-size: calc(16 / var(--rem-base) * 1rem);
  font-weight: var(--caption-font-weight);
  font-style: italic;
  hyphens: none;
  letter-spacing: 0.01em;
  padding-bottom: 0.075rem;
  text-align: left;
}

#editorPreview .imageblock .title {
  margin-top: 0.5rem;
  padding-bottom: 0;
}

#editorPreview details {
  margin-left: 1rem;
}

#editorPreview details > summary {
  display: block;
  position: relative;
  line-height: var(--doc-line-height);
  margin-bottom: 0.5rem;
}

#editorPreview details > summary::-webkit-details-marker {
  display: none;
}

#editorPreview details > summary::before {
  content: "";
  border: solid transparent;
  border-left-color: currentcolor;
  border-width: 0.3em 0 0.3em 0.5em;
  position: absolute;
  top: calc((var(--doc-line-height) * 0.5 - 0.3) * 1em);
  left: -1rem;
  transform: translateX(15%);
}

#editorPreview details[open] > summary::before {
  border-color: currentcolor transparent transparent;
  border-width: 0.5rem 0.3rem 0;
  transform: translateY(15%);
}

#editorPreview details > summary::after {
  content: "";
  width: 1rem;
  height: 1em;
  position: absolute;
  top: calc((var(--doc-line-height) * 0.5 - 0.5) * 1em);
  left: -1rem;
}

#editorPreview details.result {
  margin-top: 0.25rem;
}

#editorPreview details.result > summary {
  color: var(--caption-font-color);
  font-style: italic;
  margin-bottom: 0;
}

#editorPreview details.result > .content {
  margin-left: -1rem;
}

#editorPreview .exampleblock > .content,
#editorPreview details.result > .content {
  background: var(--example-background);
  border: 0.25rem solid var(--example-border-color);
  border-radius: 0.5rem;
  padding: 0.75rem;
}

#editorPreview .exampleblock > .content::after,
#editorPreview details.result > .content::after {
  content: "";
  display: table;
  clear: both;
}

#editorPreview .exampleblock > .content > :first-child,
#editorPreview details > .content > :first-child {
  margin-top: 0;
}

#editorPreview .sidebarblock {
  background: var(--sidebar-background);
  border-radius: 0.75rem;
  padding: 0.75rem 1.5rem;
}

#editorPreview .sidebarblock > .content > .title {
  font-size: calc(22.5 / var(--rem-base) * 1rem);
  font-weight: var(--alt-heading-font-weight);
  line-height: 1.3;
  margin-bottom: -0.3em;
  text-align: center;
}

#editorPreview .sidebarblock > .content > :not(.title):first-child {
  margin-top: 0;
}

/* NEEDS REVIEW prevent pre in table from causing article to exceed bounds */
#editorPreview .tableblock pre,
#editorPreview .listingblock.wrap pre {
  white-space: pre-wrap;
}

#editorPreview .listingblock code[data-lang]::before {
  display: none;
  content: attr(data-lang);
  position: absolute;
  font-size: 0.75em;
  top: 0.425rem;
  right: 0.5rem;
  line-height: 1;
  text-transform: uppercase;
  color: inherit;
  opacity: 0.5;
}

#editorPreview .listingblock:hover code[data-lang]::before {
  display: block;
}

#editorPreview pre.highlight code,
#editorPreview .listingblock pre:not(.highlight),
#editorPreview .literalblock pre {
  background: var(--pre-background);
  box-shadow: inset 0 0 1.75px var(--pre-border-color);
  display: block;
  overflow-x: auto;
  padding: 0.75rem;
}

#editorPreview pre.highlight {
  position: relative;
}

#editorPreview .source-toolbox {
  display: flex;
  visibility: hidden;
  position: absolute;
  top: 0.25rem;
  right: 0.5rem;
  color: var(--pre-annotation-font-color);
  font-family: var(--body-font-family);
  font-size: calc(13.5 / var(--rem-base) * 1rem);
  line-height: 1;
}

#editorPreview .listingblock:hover .source-toolbox {
  visibility: visible;
}

#editorPreview .source-toolbox .source-lang {
  text-transform: uppercase;
  letter-spacing: 0.075em;
  font-size: 0.96em;
  line-height: 1.0425;
}

#editorPreview .source-toolbox > :not(:last-child)::after {
  content: "|";
  letter-spacing: 0;
  padding: 0 1ch;
}

#editorPreview .source-toolbox .copy-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: transparent;
  border: none;
  color: inherit;
  outline: none;
  padding: 0;
  font-size: inherit;
  line-height: inherit;
  width: 1em;
  height: 1em;
}

#editorPreview .source-toolbox .copy-icon {
  flex: none;
  width: inherit;
  height: inherit;
}

#editorPreview .source-toolbox img.copy-icon {
  filter: invert(50.2%);
}

#editorPreview .source-toolbox svg.copy-icon {
  fill: currentcolor;
}

#editorPreview .source-toolbox .copy-toast {
  flex: none;
  position: relative;
  display: inline-flex;
  justify-content: center;
  margin-top: 1em;
  background-color: var(--doc-font-color);
  border-radius: 0.25em;
  padding: 0.5em;
  color: var(--color-white);
  cursor: auto;
  opacity: 0;
  transition: opacity 0.5s ease 0.75s;
}

#editorPreview .source-toolbox .copy-toast::after {
  content: "";
  position: absolute;
  top: 0;
  width: 1em;
  height: 1em;
  border: 0.55em solid transparent;
  border-left-color: var(--doc-font-color);
  transform: rotate(-90deg) translateX(50%) translateY(50%);
  transform-origin: left;
}

#editorPreview .source-toolbox .copy-button.clicked .copy-toast {
  opacity: 1;
  transition: none;
}

#editorPreview .language-console .hljs-meta {
  user-select: none;
}

#editorPreview .dlist dt {
  font-style: italic;
}

#editorPreview .dlist dd {
  margin: 0 0 0.25rem 1.5rem;
}

#editorPreview .dlist dd:last-of-type {
  margin-bottom: 0;
}

#editorPreview td.hdlist1,
#editorPreview td.hdlist2 {
  padding: 0.5rem 0 0;
  vertical-align: top;
}

#editorPreview tr:first-child > .hdlist1,
#editorPreview tr:first-child > .hdlist2 {
  padding-top: 0;
}

#editorPreview td.hdlist1 {
  font-weight: var(--body-font-weight-bold);
  padding-right: 0.25rem;
}

#editorPreview td.hdlist2 {
  padding-left: 0.25rem;
}

#editorPreview .colist {
  font-size: calc(16 / var(--rem-base) * 1rem);
  margin: 0.25rem 0 -0.25rem;
}

#editorPreview .colist > table > tr > :first-child,
#editorPreview .colist > table > tbody > tr > :first-child {
  padding: 0.25em 0.5rem 0;
  vertical-align: top;
}

#editorPreview .colist > table > tr > :last-child,
#editorPreview .colist > table > tbody > tr > :last-child {
  padding: 0.25rem 0;
}

#editorPreview .conum[data-value] {
  border: 1px solid currentcolor;
  border-radius: 100%;
  display: inline-block;
  font-family: var(--body-font-family);
  font-size: calc(13.5 / var(--rem-base) * 1rem);
  font-style: normal;
  line-height: 1.2;
  text-align: center;
  width: 1.25em;
  height: 1.25em;
  letter-spacing: -0.25ex;
  text-indent: -0.25ex;
}

#editorPreview .conum[data-value]::after {
  content: attr(data-value);
}

#editorPreview .conum[data-value] + b {
  display: none;
}

#editorPreview hr {
  border: solid var(--section-divider-color);
  border-width: 2px 0 0;
  height: 0;
}

#editorPreview b.button {
  white-space: nowrap; /* effectively ignores hyphens setting */
}

#editorPreview b.button::before {
  content: "[";
  padding-right: 0.25em;
}

#editorPreview b.button::after {
  content: "]";
  padding-left: 0.25em;
}

#editorPreview kbd {
  display: inline-block;
  font-size: calc(12 / var(--rem-base) * 1rem);
  background: var(--kbd-background);
  border: 1px solid var(--kbd-border-color);
  border-radius: 0.25em;
  box-shadow: 0 1px 0 var(--kbd-border-color), 0 0 0 0.1em var(--body-background) inset;
  padding: 0.25em 0.5em;
  vertical-align: text-bottom;
  white-space: nowrap; /* effectively ignores hyphens setting */
}

#editorPreview kbd,
#editorPreview .keyseq {
  line-height: 1;
}

#editorPreview .keyseq {
  font-size: calc(16 / var(--rem-base) * 1rem);
}

#editorPreview .keyseq kbd {
  margin: 0 0.125em;
}

#editorPreview .keyseq kbd:first-child {
  margin-left: 0;
}

#editorPreview .keyseq kbd:last-child {
  margin-right: 0;
}

#editorPreview .menuseq,
#editorPreview .path {
  hyphens: none;
}

#editorPreview .menuseq i.caret::before {
  content: "\203a";
  font-size: 1.1em;
  font-weight: var(--body-font-weight-bold);
  line-height: calc(1 / 1.1);
}

#editorPreview :not(pre).nowrap {
  white-space: nowrap;
}

#editorPreview .nobreak {
  hyphens: none;
  word-wrap: normal;
}

#footnotes {
  font-size: 0.85em;
  line-height: 1.5;
  margin: 2rem -0.5rem 0;
}

#editorPreview td.tableblock > .content #footnotes {
  margin: 2rem 0 0;
}

#footnotes hr {
  border-top-width: 1px;
  margin-top: 0;
  width: 20%;
}

#footnotes .footnote {
  margin: 0.5em 0 0 1em;
}

#footnotes .footnote + .footnote {
  margin-top: 0.25em;
}

#footnotes .footnote > a:first-of-type {
  display: inline-block;
  margin-left: -2em;
  text-align: right;
  width: 1.5em;
}
