{% import "./_component.njk" as component %}<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>{{ content.title }}</title>
<link rel="stylesheet" href="./assets/subfont/fonts-bdb05d6309.css">
<link rel="stylesheet" href="./assets/css/main.css">

{% include 'seo.njk' %}
{% include 'favicon.njk' %}
</head>
<body>
<header class="header">
  <nav>
    <div class="logo"><img src="./assets/img/asciidoc-horizontal-white.svg" alt="AsciiDoc Logo"/></div>
    <div class="navbar-mobile">
      <img src="./assets/img/asciidoc-horizontal-color.svg" alt="AsciiDoc Logo"/>
      <img class="close" src="./assets/img/close.svg"/>
      <img class="open" src="./assets/img/menu.svg"/>
    </div>
    <ul class="menu">
      <li><a href="#about">About</a></li>
      <li><a href="#compare">Compare</a></li>
      <li><a href="#specifications">Specifications</a></li>
      <li><a href="#tools">Tools</a></li>
      <li><a href="#docs">Docs</a></li>
    </ul>
  </nav>
</header>
<main class="main">
  <section class="hero">
    <h1>{{ content.tagline }}</h1>
    <div class="content">
      {{ content.preamble.contents | safe }}
    </div>
  </section>
  <section class="users">
    <h2>{{ content.users.title }}</h2>
    <div class="content">
      {% for content in content.users.contents %}
        {{ content.contents | safe }}
      {% endfor %}
    </div>
  </section>
  <section class="about" id="about">
    <div class="columns">
      <div class="column">
        <h2>{{ content.about.title }}</h2>
        {% if content.about.subtitle %}
          <h3>{{ content.about.subtitle }}</h3>
        {% endif %}
        <div class="content">
          {% for content in content.about.contents %}
            {% if content.type == 'html' %}
              {{ content.contents | safe }}
            {% endif %}
          {% endfor %}
        </div>
      </div>
      <div class="column">
        {% for content in content.about.contents %}
          {% if content.type == 'tabs' %}
            {{ component.tabset(content) }}
          {% endif %}
        {% endfor %}
      </div>
    </div>
  </section>
  <section class="try">
    <div class="container">
      <h2 id="try">{{ content['try-it-out'].title }}</h2>
      {% if content['try-it-out'].subtitle %}
        <h3>{{ content['try-it-out'].subtitle }}</h3>
      {% endif %}
      <div class="content">
        {% for content in content['try-it-out'].contents %}
          {{ content.contents | safe }}
        {% endfor %}
        <div class="toggleset">
          <div class="toggle">
            <a class="is-active" id="toggle1_asciidoc">AsciiDoc</a>
            <a id="toggle1_preview">Preview</a>
          </div>
          <div class="content" id=editor>
            <div class="is-active" aria-labelledby="toggle1_asciidoc" id="editorCode">
              <pre style="display: none">{{ content['try-it-out'].contents.code }}</pre>
            </div>
            <div aria-labelledby="toggle1_preview" id="editorPreview"></div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="compare">
    <h2 id="compare">{{ content.compare.title }}</h2>
    {% if content.compare.subtitle %}
      <h3>{{ content.compare.subtitle }}</h3>
    {% endif %}
    <div class="content">
      {% for content in content.compare.contents %}
        {% if content.type == 'html' %}
          {{ content.contents | safe }}
        {% endif %}
      {% endfor %}
      {% for content in content.compare.contents %}
        {% if content.type == 'tabs' %}
          {{ component.tabset(content, type='editor') }}
        {% endif %}
      {% endfor %}
    </div>
  </section>
  <section class="specifications">
    <h2 id="specifications">{{ content.specifications.title }}</h2>
    {% if content.specifications.subtitle %}
      <h3>{{ content.specifications.subtitle }}</h3>
    {% endif %}
    <div class="content">
      {% for content in content.specifications.contents %}
        {% if content.type == 'html' %}
          {{ content.contents | safe }}
        {% endif %}
      {% endfor %}
    </div>
  </section>
  <section class="tools">
    <h2 id="tools">{{ content.tools.title }}</h2>
    {% if content.tools.subtitle %}
      <h3>{{ content.tools.subtitle | safe }}</h3>
    {% endif %}
    <div class="content">
      <div class="cards">
        {% for content in content.tools.contents %}
          {% if content.type == 'cards' %}
            {% for item in content.items %}
              <div class="card">
                {{ item.contents | safe }}
              </div>
            {% endfor %}
          {% endif %}
        {% endfor %}
      </div>
      {% for content in content.tools.contents %}
        {% if content.type == 'html' %}
          {{ content.contents | safe }}
        {% endif %}
      {% endfor %}
    </div>
  </section>
  <section class="docs">
    <h2 id="docs">{{ content.docs.title }}</h2>
    {% if content.docs.subtitle %}
      <h3>{{ content.docs.subtitle }}</h3>
    {% endif %}
    <div class="content">
      {% for content in content.docs.contents %}
        {% if content.type == 'html' %}
          {{ content.contents | safe }}
        {% endif %}
      {% endfor %}
    </div>
  </section>
</main>
<footer class="footer">
  <div class="asciidoc">
    <div class="category brand">
      <div class="logo">
        <img src="./assets/img/asciidoc-horizontal-white-r.svg" alt="AsciiDoc&reg; Logo" />
      </div>
    </div>
    <div class="category work">
      <ul>
        <li><a href="https://asciidoc-wg.eclipse.org/">Working Group</a></li>
        <li><a href="https://projects.eclipse.org/projects/asciidoc.asciidoc-lang">Language Project</a></li>
      </ul>
    </div>
    <div class="category documentation">
      <ul>
        <li><a href="https://docs.asciidoctor.org/asciidoc/latest/">Documentation</a></li>
        <li><a href="https://docs.asciidoctor.org/asciidoc/latest/syntax-quick-reference/">Syntax Quick Reference</a></li>
      </ul>
    </div>
    <div class="category ecosystem">
      <ul>
        <li><a href="https://gitlab.eclipse.org/eclipse-wg/asciidoc-wg/asciidoc.org/-/blob/main/awesome-asciidoc.adoc#convert">Processors</a></li>
        <li><a href="https://gitlab.eclipse.org/eclipse-wg/asciidoc-wg/asciidoc.org/-/blob/main/awesome-asciidoc.adoc">Ecosystem</a></li>
      </ul>
    </div>
  </div>
  <div class="eclipse">
    <div class="category foundation">
      <h4>Eclipse Foundation</h4>
      <ul>
        <li><a href="https://www.eclipse.org/org/">About Us</a></li>
        <li><a href="https://www.eclipse.org/org/foundation/contact.php">Contact Us</a></li>
        <li><a href="https://www.eclipse.org/donate">Donate</a></li>
        <li><a href="https://www.eclipse.org/membership/">Members</a></li>
        <li><a href="https://www.eclipse.org/org/documents/">Governance</a></li>
        <li><a href="https://www.eclipse.org/org/documents/Community_Code_of_Conduct.php">Code of Conduct</a></li>
        <li><a href="https://www.eclipse.org/artwork/">Logo and Artwork</a></li>
        <li><a href="https://www.eclipse.org/org/foundation/directors.php">Board of Directors</a></li>
      </ul>
    </div>
    <div class="category legal">
      <h4>Legal</h4>
      <ul>
        <li><a href="https://www.eclipse.org/legal/privacy.php">Privacy Policy</a></li>
        <li><a href="https://www.eclipse.org/legal/termsofuse.php">Terms of Use</a></li>
        <li><a href="https://www.eclipse.org/legal/copyright.php">Copyright Agent</a></li>
        <li><a href="https://www.eclipse.org/legal/epl-2.0/">Eclipse Public License</a></li>
        <li><a href="https://www.eclipse.org/legal/">Legal Resources</a></li>
      </ul>
    </div>
    <div class="category links">
      <h4>Useful Links</h4>
      <ul>
        <li><a href="https://bugs.eclipse.org/bugs/">Report a Bug</a></li>
        <li><a href="//help.eclipse.org/">Documentation</a></li>
        <li><a href="https://www.eclipse.org/contribute/">How to Contribute</a></li>
        <li><a href="https://www.eclipse.org/mail/">Mailing Lists</a></li>
        <li><a href="https://www.eclipse.org/forums/">Forums</a></li>
        <li><a href="//marketplace.eclipse.org">Marketplace</a></li>
      </ul>
    </div>
    <div class="category other">
      <h4>Other</h4>
      <ul>
        <li><a href="https://www.eclipse.org/ide/">IDE and Tools</a></li>
        <li><a href="https://www.eclipse.org/projects">Projects</a></li>
        <li><a href="https://www.eclipse.org/org/workinggroups/">Working Groups</a></li>
        <li><a href="https://www.eclipse.org/org/research/">Research@Eclipse</a></li>
        <li><a href="https://www.eclipse.org/security/">Report a Vulnerability</a></li>
        <li><a href="https://status.eclipse.org">Service Status</a></li>
      </ul>
    </div>
    <div class="copyright">
      <p>
        <span class="made">Made with AsciiDoc.</span>
        <span class="copy">Copyright &copy; Eclipse Foundation.</span>
        <span class="rights">All Rights Reserved.</span>
        <span class="trademarks">AsciiDoc&reg; and AsciiDoc Language&trade; are trademarks of the Eclipse Foundation, Inc.</span>
      </p>
    </div>
    <div class="social">
      <ul>
        <li><a class="social-media-link twitter" href="https://twitter.com/EclipseFdn"></a></li>
        <li><a class="social-media-link facebook" href="https://www.facebook.com/eclipse.org"></a></li>
        <li><a class="social-media-link youtube" href="https://www.youtube.com/user/EclipseFdn"></a></li>
        <li><a class="social-media-link linkedin" href="https://www.linkedin.com/company/eclipse-foundation"></a></li>
      </ul>
    </div>
  </div>
</footer>
<script src="./assets/js/main.bundle.js"></script>
<script>(function(){var el=document.createElement('link');el.href='/assets/subfont/fallback-aa82c9731b.css';el.rel='stylesheet';document.body.appendChild(el)}())</script>
<noscript><link rel="stylesheet" href="/assets/subfont/fallback-aa82c9731b.css"></noscript>
</body>
</html>
